<div>   
    <div>
        <hr>
        <h1>{{title}} &nbsp; </h1>
        <p>Descripcion: {{description}} &nbsp; </p>
        <p>Precio: ${{price}} &nbsp; </p>
        <p>Categoria: {{category}} &nbsp; </p>
        <p>Stock: {{stock}} &nbsp; </p>
        <button onclick="addToCartButton('649caadc33820df2505e8926','{{_id}}')">Añadir al carrito</button>
        <button id="botonAtras">Ir para atrás</button>
        <hr>
    </div>
</div>

<script src="/js/cart.js"></script>