<div>   
    <div>
        <hr>
        <h1>{{title}} &nbsp; </h1>
        <p>Descripcion: {{description}} &nbsp; </p>
        <p>Precio: ${{price}} &nbsp; </p>
        <p>Categoria: {{category}} &nbsp; </p>
        <p>Stock: {{stock}} &nbsp; </p>
        <button onclick="addToCartButton()">Añadir al carrito</button>
        <hr>
    </div>
</div>

<script type="module" src="/js/cart.js"></script>